<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="login">
  <div class="sign-in">
    <div class="sign-in_content">
      <h1>Sign Up</h1>
      <p>Fill the form below to create your account</p>
      <form class="sign-in_form" method="POST" action="{{ url_for('register_user') }}">
        <div class="form_layout">
          <label for="Surname">Lastname</label>
          <input type="text" id="Surname" name="surname" placeholder="Enter lastname">
        </div>
        <div class="form_layout">
          <label for="Firstname">Firstname</label>
          <input type="text" id="Firstname" name="firstname" placeholder="Enter firstname">
        </div>
        <div class="form_layout">
          <label for="Email">Email</label>
          <input type="email" id="Email" name="email" placeholder="Enter email">
        </div>
        <div class="form_layout">
          <label for="phonenum">Phone</label>
          <input type="tel" id="phonenum" name="phone" placeholder="0000-000-0000" minlength="11" maxlength="11">
        </div>
        <div class="form_layout">
          <label for="Password">Password</label>
          <input type="password" id="Password" name="password_hash" placeholder="Enter password" >
        </div>
        <button class="btn primary" type="submit">Sign Up</button>
        <button class="btn">
          <img src="{{url_for('static', filename='Google_logo.png')}}" alt="Google logo">
          <p>Sign Up with Google</p>
        </button>
      </form>
      <small class="next_page">Already have an account? <a href="{{ url_for('user_login')}}">Sign In</a></small>
    </div>
    <div class="sign-in_logo">
      <div>
        <img src="{{url_for('static', filename='WebsiteLogo.png')}}" alt="Website Logo">
      </div>
    </div>
  </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
  <title>Create Account</title>
</head>
<body>
  <h2>Create Account</h2>

  {% if msg %}
    <p style="color:green">{{ msg }}</p>
  {% endif %}

  <form method="POST" action="{{ url_for('register_user') }}">
    <label>Fullname</label><br>
    <input type="text" name="Fullname" required><br><br>

    <label>Password</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Register</button>
  </form>

  <p><a href="{{ url_for('user_login') }}">Back to login</a></p>
</body>
</html> -->
